<%# app/views/postal_codes/index.html.erb %>
<!-- Navigation -->
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Posta Kodu Sorgulama</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- Collapsible Content -->
<div class="collapse" id="collapseContent">
  <div class="toggle-container">
    <h3>Hakkımızda</h3>
    <hr style="border: 1px solid white;">


    <p>Web sitemiz aracılığıyla posta kodu işlemlerinizi gerçekleştirebilirsiniz. Web sitemizin alt kısmında bulunan
      il, ilçe, mahalle seçimi yaparak doğru bir şekilde istediğiniz posta kodu sorgulama işlemini yapabilirsiniz. Alt
      kısımdan seçtiğiniz seçtiğiniz il, ilçe, mahalle adresi seçtiğiniz zaman alt kısımda seçtiğiniz yeri haritadan
      inceleme imkânına sahipsiniz. PTT tarafından güncelleme olduğu anda bizlerde entegrasyonumuz ile güncellemeleri
      web sitemizde uygulayıp sizlerin yanlış bilgi almasını engellemekteyiz.</p>
    <p>Bize ulaşmak için <a href="mailto:info@postakodu.com.tr">info@postakodu.com.tr</a> mail adresini
      kullanabilirsiniz.</p>
  </div>
</div>

<div class="container mt-5">
  <div class="text-end mb-3">
    <%= link_to "EN", url_for(locale: :en) %> | 
    <%= link_to "TR", url_for(locale: :tr) %>
  </div>
  <div data-controller="postal-search">
    <%= form_with url: postal_codes_path, method: :get do |f| %>
      <div class="row g-3 mb-4">
        <!-- Province -->
        <div class="col-md-4">
          <%= f.label :province_id, "Province", class: "form-label" %>
          <%= f.select :province_id,
                options_from_collection_for_select(@provinces, :id, :name, params[:province_id]),
                { include_blank: "Select Province" },
                class: "form-select",
                data: { action: "change->postal-search#loadDistricts" } %>
        </div>

        <!-- District -->
        <div class="col-md-4">
          <%= f.label :district_id, "District", class: "form-label" %>
          <%= f.select :district_id,
                options_from_collection_for_select(@districts || [], :id, :name, params[:district_id]),
                { include_blank: "Select District" },
                class: "form-select",
                disabled: @districts.blank?,
                data: { 
                  postal_search_target: "districtSelect",
                  action: "change->postal-search#loadNeighborhoods" 
                } %>
        </div>

        <!-- Neighborhood -->
        <div class="col-md-4">
          <%= f.label :neighborhood_id, "Neighborhood", class: "form-label" %>
          <%= f.select :neighborhood_id,
                options_from_collection_for_select(@neighborhoods || [], :id, :name, params[:neighborhood_id]),
                { include_blank: "Select Neighborhood" },
                class: "form-select",
                disabled: @neighborhoods.blank?,
                data: { postal_search_target: "neighborhoodSelect" } %>
        </div>
      </div>

      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>

    <!-- Results -->
    <div data-postal-search-target="results">
      <% if @postal_codes.any? %>
        <%= render partial: "results", locals: { postal_codes: @postal_codes } %>
      <% end %>
    </div>
  </div>

  <!-- Results Table 
  <table class="table mt-4">
    <% if @postal_codes.any? %>
      <thead>
        <tr>
          <th>Province</th>
          <th>District</th>
          <th>Neighborhood</th>
          <th>Postal Code</th>
        </tr>
      </thead>
      <tbody>
        <% @postal_codes.each do |pc| %>
          <tr>
            <td><%= pc.neighborhood.district.province.name %></td>
            <td><%= pc.neighborhood.district.name %></td>
            <td><%= pc.neighborhood.name %></td>
            <td><%= pc.code %></td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <div class="alert alert-info">No results found. Try changing filters.</div>
    <% end %>
  </table>-->

</div>
